//
// Buttons
// --------------------------------------------------

// Btn
@import "./_settings.scss";

.btn {
    display: inline-block;
    color: $pallete-2;
    @include rem(font-size, 14px);
    background: $pallete-10;
    font-weight: 600;
    @include border-radius(3px);
    @include rem(padding, 12px 30px);
    @include rem(margin, 5px 0px);
    border: none;
    text-align: center;
    cursor: pointer;

    &-large     { @include rem(padding, 11px 35px); }
    &-xxl       { @include rem(padding, 18px 85px); @include rem(font-size, 18px); }
    &-full      {  width: 100%; }
    &-right     { float: right; }
    &-left      { float: left; }

    &.disabled { opacity: 0.5; }

    &-fa {
        @include rem(padding, 12px 15px 12px 15px);
        &:before { 
            color: $pallete-2;
            font: normal normal normal 16px/1 FontAwesome; 
        }
        span {
            @include rem(margin-left, 10px);
        }
    }

    &-blue  { 
        background: $pallete-6;
        color: $pallete-1; 
        &:before {
            color: $pallete-1; 
        }
    }
    &-grey  { background: $pallete-11; color: $pallete-2; }
    &-darkblue  { background: $pallete-8; color: $pallete-1; }

    &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
        opacity: 0.9;
    }

    i {
        @include rem(font-size, 18px);
        color: $pallete-1;
        @include rem(margin, 0px -15px);
    }
}
