.btn {
    display: inline-block;
    color: $pallete-2;
    @include rem(font-size, 11px);
    background: $pallete-7;
    font-weight: 600;
    @include border-radius(3px);
    @include rem(padding, 12px 20px);
    @include rem(margin, 5px 0px);
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25);

    &-fa {
        @include rem(padding, 12px 15px 12px 15px);
        &:before { 
            color: $pallete-2;
            font: normal normal normal 16px/1 FontAwesome; 
        }
        span {
            @include rem(margin-left, 10px);
        }
    }

    &-small     { @include rem(padding, 9px 15px); }
    &-large     { @include rem(padding, 11px 35px); }
    &-xxl       { @include rem(padding, 15px 55px); @include rem(font-size, 18px); }
    &-full      {  width: 100%; }
    &-right     { float: right; @include rem(margin-left, 10px); }
    &-left      { float: left; @include rem( margin-right, 5px); }
    &-disabled { opacity: 0.5; cursor: not-allowed !important; }
    &:disabled { opacity: 0.5; cursor: not-allowed !important; }

    &-orange { background: $pallete-3; }
    &-green  { background: green; }
    &-black  { background: $pallete-1; }
    &-white  { background: $pallete-2; color: $pallete-1; 
        &:hover { color: $pallete-4 !important; }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        color: $pallete-2;
        opacity: 0.9;
    }
}
