//
// Forms
// --------------------------------------------------

.form {
    
        &__group {
            @include rem(padding, 10px 0);
    
            label {
                display: inline-block;
                max-width: 100%;
                font-weight: 600;
                @include rem(font-size, 13px);
                @include rem(margin-bottom, 5px);
                @include themify($themes) {
                    color: themed('body__content-label-color'); 
                }
            }
        }

        input[type=checkbox] { 
            display:none; 
        }
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
            content: "\f096";
            letter-spacing: 10px; 
            @include rem(font-size, 20px);
            @include rem(margin, 5px 0px);
            @include themify($themes) {
                color: themed('body__content-form-color'); 
            }
        }
        input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
        input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 
    
        input[type=text], input[type=password], input[type=email], input[type=name], input[type=date] {
            border: none;
            box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
            @include rem(font-size, 13px);
            font-weight: 600;
            @include rem(padding,12px);
            @include border-radius(3px);
            width: 100%;
            min-height: 40px;
            @include rem(margin, 5px 0px);

            @include themify($themes) {
                color: themed('body__content-form-color'); 
                background: themed('body__content-form-bg'); 
            }
            &:focus {
                outline: none;
            }
        }
    
        select {
            border: none;
            box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
            @include rem(font-size, 13px);
            font-weight: 600;
            @include rem(padding,11px 8px);
            @include border-radius(3px);
            width: 100%;
            min-height: 40px;
            @include rem(margin, 5px 0px);

            @include themify($themes) {
                color: themed('body__content-form-color'); 
                background: themed('body__content-form-bg'); 
            }
            &:focus {
                outline: none;
            }
        }
    
        textarea {
            border: none;
            box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05);
            @include rem(font-size, 13px);
            font-weight: 600;
            @include rem(padding,12px);
            @include border-radius(3px);
            min-height: 100px;
            width: 100%;
            @include rem(margin, 5px 0px);
            resize: none;

            @include themify($themes) {
                color: themed('body__content-form-color'); 
                background: themed('body__content-form-bg'); 
            }
            &:focus {
                outline: none;
            }
        }
    
    }