//
// Project variables
// --------------------------------------------------

// Fonts ( old font crap )
$fallback--fonts: Helvetica, Arial, Verdana, sans-serif;
$default-font--regular: 'Exo', $fallback--fonts;

// old
$default-font--bold: 'Roboto-Bold', $fallback--fonts;
$default-font--black: 'Roboto-Black', $fallback--fonts;
$special-font--regular:  'Exo', $fallback--fonts;
$special-font--black: 'Panton-Black', $fallback--fonts;
$icons-font: 'CamCammer-Icomoon';

// Colors
$pallete-0: #1e1e1e;
$pallete-1: #141414;
$pallete-2: #fff; // white
$pallete-3: #eee;
$pallete-4: #2d3642;
$pallete-5: #4f5864; //p normal text
$pallete-6: #373d46; //Header normal text
$pallete-7: #9da8b8; //link color


