<div class='settings'>
    <form id="settings-form" class="wrapper">
        <fieldset>
            <legend>Settings details</legend>
            <div>
                <label for="user-name">Slots:</label>
                <input name="user-name" type="number" placeholder="Max slots"  v-model="maxSlots" step="1" required autofocus>
            </div>
            <div>
                <label for="fixedAmount">Bedrag per slot:</label>
                <input name="fixedAmount" type="number" placeholder="Fixed amount" v-model="fixedAmountModel" step="50" required>
            </div>
            <div>
                <span> Available: {{ slotsAvailable }}</span>
            </div>
        </fieldset>
    </form>
</div>

