<div class='settings'>
    <form id="settings-form" class="wrapper">
        <fieldset>
            <legend>Settings details</legend>
            <div>
                <label for="user-name">Slots:</label>
                <input name="user-name" type="number" placeholder="Max slots"  v-model="maxSlots" required autofocus>
            </div>
            <div>
                <label for="fixedAmount">Bedrag per slot:</label>
                <input name="fixedAmount" type="number" placeholder="Fixed amount" v-model="fixedAmount" required>
            </div>
            <div>
                <input name="setting-save" type="submit" value="Save" v-on:click='save'>
            </div>
        </fieldset>
    </form>
</div>

