

    <header class="topnav" id="myTopnav">        
        <router-link :to="{ path: '/' }" class="active">Home</router-link>
        <router-link :to="{ path: '/connection' }">connection</router-link>
        <router-link :to="{ path: '/settings' }">settings</router-link>
        <router-link :to="{ path: '/info' }">info</router-link>
        <router-link :to="{ path: '/spread' }">spread</router-link>
        <a href="javascript:void(0);" class="icon" v-on:click="expand">
            <i class="fa fa-bars"></i>
        </a>
    </header>
    <!--<div class="header__logo">
        Nice logo
    </div>
    <div class="header__menu">
        <ul>
            <li>
               <a href="">menu item 1</a>
            </li>            
            <li>
                <a href="">menu item 2</a>
             </li>
             <li>
                <a href="">menu item 3</a>
             </li>
             <li>
                <a href="">menu item 4</a>
             </li>
             <li>
                <a href="">spread</a>
             </li>
        </ul>
    </div>
    <div class="header__account">
        Hotze Visser        
    </div>-->
   
    <!--<nav class="navbar">
        - Nav main -->
<!--        <div class="navbar-menu">
            <router-link :to="{ path: '/' }">
                <img alt="logo" :src="logo" style="width: 50px;height: 50px;" />
            </router-link>
            <div class="navbar-account">
                <span>balance</span>
                <span>{{ money }}</span>
            </div>
            <ul>
                <li class="nav-item">
                    <router-link :to="{ path: '/' }">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="{ path: '/spread' }">spread</router-link>
                </li>   
                <li class="nav-item">
                    <router-link :to="{ path: '/info' }">info</router-link>
                </li>  
                <li>                    
                    <router-link :to="{ path: '/settings' }">settings</router-link>
                </li>             
            </ul>

        </div>
 
      </nav>
</header>-->